@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti labore sequi harum, blanditiis nulla itaque reprehenderit cumque numquam molestias beatae placeat quas vel atque, reiciendis sapiente neque magnam error mollitia consectetur nam voluptatem libero! Accusantium, ad. Dignissimos nihil esse, corporis, quos dolores molestias laborum alias repellendus blanditiis magni mollitia, nostrum ea amet! Possimus nam enim nobis, nemo quae asperiores officia.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repellendus quis tenetur ullam aut laudantium nesciunt itaque doloribus et, ratione officia id? Minima praesentium id natus omnis repellendus aliquid harum.</p>

<div>
    <h3>CarPro</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis veritatis sit, maxime hic architecto eius accusamus delectus nobis asperiores, recusandae ducimus mollitia veniam incidunt sed perspiciatis saepe fuga enim iure voluptatibus molestias aut a? Veritatis consequuntur similique molestiae! Tenetur in incidunt magnam saepe voluptates quaerat amet eius voluptatem sequi culpa molestiae et inventore vel quo dicta commodi soluta quidem, beatae sint sunt obcaecati error ad architecto? Dolor enim eius nesciunt cupiditate officiis voluptate, temporibus ex iste non! Impedit hic aut fugit error quia cupiditate dolore? Recusandae voluptate unde consequuntur vitae saepe autem molestias facilis consectetur ratione rem? In, explicabo accusamus.</p>
</div>
